<div class="row">
    <div class="col-xs-12 col-md-8">
        <h1>{{AuthorCtrl.author.name}}</h1>
        <p>The Bahá'í Faith is the youngest of the world's independent religions. Its founder, Bahá'u'lláh (1817-1892), is regarded by Bahá'ís as the most recent in the line of Messengers of God that stretches back beyond recorded time and that includes Abraham, Moses, Buddha, Krishna, Zoroaster, Christ and Muhammad.</p>
    </div>
    <div class="col-xs-12 col-md-4">
        <img class="religion-picture" ng-src="{{ AuthorCtrl.author.picture }}" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="book-table table table-hover">
            <tbody>
            <tr ng-repeat="b in AuthorCtrl.books" ui-sref="browse.book({ 'id' : b.id })">
                <td>{{ b.title }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <pagination total-items="AuthorCtrl.booksTotal" items-per-page="25" ng-model="AuthorCtrl.page" max-size="5" class="pagination-sm" boundary-links="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    </pagination>
</div>
