<article class="book col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <h1 class="book-title" ng-show="BookCtrl.pagination.current == 1">{{BookCtrl.book.title}}</h1>
    <section class="book-section" ng-repeat="s in BookCtrl.visibleSections">
        <h2 class="book-section-header" ng-class="(s.offset > 1) ? 'book-section-header-continued' : ''">{{s.title}}</h2>
        <p class="book-paragraph" ng-class="BookCtrl.selectedClass(s, $index)" ng-repeat="t in s.text track by $index"  scroll-offset="0" scroll-when="BookCtrl.isSelected(s, $index)">
            {{t}}
        </p>
    </section>
    <div class="book-navigation clearfix">
        <button type="button" class="book-navigation-button col-xs-2 col-sm-1 btn btn-default btn-lg pull-left" ng-click="BookCtrl.prevPage()" ng-disabled="BookCtrl.pagination.current <= 1">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </span>
        </button>

        <div class="book-navigation-description col-xs-8 col-sm-10">
            <span class="book-navigation-description-title">{{BookCtrl.book.title}}</span><br/>
            <small>Page {{BookCtrl.pagination.current}} of {{BookCtrl.pagination.total}}</small>
        </div>

        <button type="button" class="btn btn-default btn-lg pull-right col-xs-2 col-sm-1" ng-click="BookCtrl.nextPage()" ng-disabled="BookCtrl.pagination.current >= BookCtrl.pagination.total">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        </button>
    </div>
</article>

