.search-result {
  color: #111111;
}

.search-result:hover {
  color: #111111;
  text-decoration: none;
}

.search-result div {
  padding: 10px;
  border-radius: 15px;
}

.search-result div:hover {
  background-color: #f0f9ff;
}

a.search-result p:nth-child(2) {
  margin-left: 100px;
  font-style: italic;
}

p.marked {
  background-color: #fefef0;
  border-radius: 15px;
  padding: 10px;
}

.performance-label {
  color: #ccc;
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.pagination a {
  width: 40px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter {
  width: 200px;
  position: absolute;
}

#no-result,#error,#loading {
  display: none;
}

.query {
  font-family: monospace;
  background-color: #f8f8ff;
}

td.function {
  font-weight: bold;
  width: 100px;
}

td.status {
  width: 70px;
}

span.roadmap-status-success {
  color: #2b4;
  font-size: 200%;
}

span.roadmap-status-progress {
  color: #b94;
  font-size: 200%;
}

body div#body {
  padding-left: 1em;
  padding-right: 1em;
}

.loader {
  display: block;
  width: 40px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}



/* Styling of section menu in reader */
.section-menu .panel-heading:hover {
  background-color: #efefef;
}

.section-menu .panel-title a {
  display: block;
  text-align: center;
}
.section-menu .panel-title a:hover {
  text-decoration: none;
}

.read-tabs {
  margin-bottom: -1px;
}

.read-tabs li.active a {
  background-color: #f5f5f5;
}

.read-tabs li.active a:hover {
  background-color: #f5f5f5;
}